.about-main {
    height: 100vh;
    background-color: red;
    text-align: center;
}

img {
    margin: 2% 0;
}

.intro {
    font-size: 1.3em;
    width: 50%;
    margin: 3% auto;
}

hr {
    width: 25%;
    opacity: 75%;
    border: 1px solid black;
}

h3 {
    margin: 4% 0;
}

.coding-lang-flex {
    display: flex;
    justify-content: space-evenly;
    margin: 2% 0;
}