.display-background {
    position: relative;
    z-index: 2;
    transition: 2s;
}

.display-container {
    margin: auto;
    width: 50%;
    border-radius: 10px;
    height: 800px;
    transition: 1s;
}

.display-selector {
    border-bottom: 4px solid cornflowerblue;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    padding: 2px;
    height: 40px;
    transition: 1s;
}

.selector-button {
    width: 50%;
    font-size: 1.3em;
    background-color: rgb(216, 216, 255);
    transition: 0.3s;
    border: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.on {
    border-radius: 10px;
}

.on:hover {
    cursor: pointer;
}

.off {
    width: 50%;
    font-size: 1.3em;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

@media screen and (max-width: 800px) {
    .display-container {
        width: 95%;
    }

    .selector-button {
        font-size: 1.1rem;
    }
}