.main {
    position: relative;
    height: 100vh;
    margin: auto;
    text-align: left;
    background-color: transparent;
    transition: 2s;
}

.main-flex {
    display: flex;
    gap: 150px;
    margin: 8% auto 0 auto;
    width: 70%;
    transition: 2s;
}

.horizontal-line {
    width: 50%;
    margin-left: 0px;
    margin-bottom: 5%;
}

.introduction {
    margin-top: 10px;
    width: 50%;
}

.introduction > h1, h3, h4 {
    margin: 0;
}

.introduction > h1 {
    font-size: 4em;
}

.introduction > h3 {
    font-size: 1.5em;
}

.introduction > h4 {
    margin-left: 5%;
}

.headshot {
    height: 500px;
    border-radius: 20%;
    object-fit: contain;
}

.socials {
    margin-top: 12%;
    margin-left: 40%;
    white-space: nowrap;
}

.social-hr {
    margin-left: 0;
    width: 80%;
}

.vert-flex {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    gap: 10px;
    transition: 2s;
}

.socials-flex {
    display: flex;
    gap: 10%;
    margin-left: 10%;
}

.social-img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.sun {
    position: absolute;
    top: 70%;
    left: 35%;
    transition: 2s;
    z-index: 1;
}

.sun-down {
    position: absolute;
    top: 120%;
    left: 35%;
    transition: 2s;
    z-index: 1;
}

.moon {
    position: absolute;
    top: 70%;
    left: 10%;
    transition: 2s;
    z-index: 1;
    width: 15%;
}

.moon-down {
    position: absolute;
    top: 120%;
    left: 10%;
    transition: 2s;
    z-index: 1;
    width: 15%;
}