.main {
    height: 100vh;
    margin: auto;
    text-align: left;
    background-color: transparent;
    margin-bottom: 30%;
}

.main-flex {
    display: flex;
    justify-content: space-between;
    margin: 8% auto 0 auto;
    width: 70%;
}

.introduction {
    margin-top: 100px;
    width: 50%;
}

.introduction > h1, h3, h4 {
    margin: 0;
}

.introduction > h1 {
    font-size: 4em;
}

.introduction > h3 {
    font-size: 1.5em;
}

.introduction > h4 {
    margin-left: 5%;
}

.background {
    position: absolute;
    /*background-image: url(https://images6.alphacoders.com/132/1327974.png);*/
    image-rendering: -webkit-optimize-contrast;
    background-size: cover;
    height: 100vh;
    z-index: -1;
    transition-duration: 3s;
}

.headshot {
    height: 500px;
    border-radius: 20%;
    object-fit: contain;
}

.sun {
    position: absolute;
    top: 70%;
    left: 10%;
    transition: 2s;
}

.sun-down {
    position: absolute;
    top: 105%;
    left: 10%;
    transition: 3s;
}