.projects-main {
    min-height: 100vh;
    transition: 2s;
}

.projects-header {
    padding: 2% 0;
    margin: 0 auto;
    transition: 2s;
    width: 70%;
    text-align: left;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-row {
    display: flex;
}

.fill-div {
    width: 35%;
}