.projects-main {
    min-height: 100vh;
    background-color: gray;
    text-align: center;
}

.projects-main > h1 {
    padding: 2% 0;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}