.project {
    background-color: white;
    width: 25%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    margin: auto;
}

.project-header {
    display: flex;
    justify-content: space-between;
}

.project-languages {
    display: flex;
    gap: 5%;
    margin-left: 10%;
}

.project-code-img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}