.work-main {
    /*background-color: rgb(26, 27, 56);*/
    padding: 0 20px;
}

.work-main > h1 {
    margin-top: 0;
    padding-top: 50px;
    text-align: center;
}

.jobs-container {
    margin-top: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: rgb(79, 79, 79);
}

.jobs-container-dark {
    margin-top: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: rgb(157, 156, 156);
}

.job {
    width: 45%;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
}

.job-dark {
    width: 45%;
    background-color: rgb(45, 45, 45);
    border: 3px solid white;
    border-radius: 10px;
}

.job-img {
    width: 100px;
}

.job-description {
    width: 60%;
}

.job-description > ul {
    text-align: left;
}

.job-description > ul > li {
    margin-bottom: 10px;
}

.job-header {
    padding-right: 10%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.header-remove-margin {
    margin: 0;
}